
.mini-header {
	font-size: 2rem;
	font-weight: 100;
	color: lightgray;
	display: block;
	padding-top: 1rem;
	
	margin-bottom: 5rem;
}

.mini-header:hover {
	text-decoration: none;
	color: black;
}

.mini-arrow {
	font-size: 2.5rem;
	color: lightgray;
}


.mini-games-border {
	border: 3px solid lightgray;
	border-radius: 5px;
	padding-bottom: 2rem;
}


.mini-left-arrow {
	font-size: 2rem;
	color: gray;
	margin-right: 1rem;
}

.mini-right-arrow {
	font-size: 2rem;
	color: gray;
	margin-left: 1rem;
}



